
img{
    /*width:400px;*/
    display: block;
    margin:auto;
    
}
header{
    
     text-align:center;
     margin-top:50px;
}
h1{
    font-family:helvetica;
    font-size:x-large;
}
nav{
    text-align:center;
    padding:30px;
    font-size: large;
    font-family:verdana;
    /*letter-spacing:2px;*/
   /*word-spacing:15px;*/}
p{
    text-align:center;
    margin:2in;
    font-style:italic;
    font-size: larger;
    font-family:times;
}
footer{
        text-align:center;
        
}
div{
    text-align:center; 
    margin: auto;
}
body{
    background-color:gray;
    color: white
}
