nav{
    display: block;
    padding:200px;
    
}
img{
    /*width:400px;*/
    display: block;
    margin:auto;
    border:red;
}
header{
     text-align:center;
     margin-top:50px;
}
nav{
    text-align:center;
    padding:30px;
    font-size: large
    /*letter-spacing:2px;*/
   /*word-spacing:15px;*/}
p{
    text-align:center;
    margin:2in;
    font-style:italic;
    font-size: larger;
}
footer{
        text-align:center;
}
div{
    text-align:center; 
    margin: auto;
}
body{
    background-color:black;
    color: white
}
a{
    text-align: center;
}