.nav{
    display: inline-block;
    padding:200px;
}
.img{
    width:150px;
    text-align:center;
}
header{
     text-align:center;
     margin-top:50px;
}
nav{
    text-align:center;
    padding:30px;
    /*letter-spacing:2px;*/
   /*word-spacing:15px;*/}
p{
    text-align:center;
    margin:2in;
}
footer{
        text-align:center;
}
div{
    text-align:center; 
}
body{
    background-color:black;
    color: white
}